body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

#converter-content{
    width: 65%;
    display: flex;
    flex-flow: column;
    align-items: center;
    /*margin: auto;*/
}

#converter-content .title {
    display: block;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

#converter-content .description {
    display: block;
    text-align: center;
}

#converter-content #converter {
    display: block;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#converter-content #converter input {
    margin: 5px;
}

#converter-content #converter #url {
    width: 70%;
    padding: 5px;
}

#converter-content #converter #download-btn {
    min-width: 62px;
    width: 15%;
}